<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <title>Acerca</title>
</head>
<body>
    <section>
        <h1>Acerca</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, est cupiditate beatae sapiente architecto, doloremque consequuntur inventore
             maxime ut modi asperiores qui labore aspernatur laborum sunt eligendi suscipit debitis vitae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, est cupiditate beatae sapiente architecto, doloremque consequuntur inventore
             maxime ut modi asperiores qui labore aspernatur laborum sunt eligendi suscipit debitis vitae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, est cupiditate beatae sapiente architecto, doloremque consequuntur inventore
             maxime ut modi asperiores qui labore aspernatur laborum sunt eligendi suscipit debitis vitae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, est cupiditate beatae sapiente architecto, doloremque consequuntur inventore
             maxime ut modi asperiores qui labore aspernatur laborum sunt eligendi suscipit debitis vitae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, est cupiditate beatae sapiente architecto, doloremque consequuntur inventore
             maxime ut modi asperiores qui labore aspernatur laborum sunt eligendi suscipit debitis vitae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, est cupiditate beatae sapiente architecto, doloremque consequuntur inventore
             maxime ut modi asperiores qui labore aspernatur laborum sunt eligendi suscipit debitis vitae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, est cupiditate beatae sapiente architecto, doloremque consequuntur inventore
             maxime ut modi asperiores qui labore aspernatur laborum sunt eligendi suscipit debitis vitae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, est cupiditate beatae sapiente architecto, doloremque consequuntur inventore
             maxime ut modi asperiores qui labore aspernatur laborum sunt eligendi suscipit debitis vitae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, est cupiditate beatae sapiente architecto, doloremque consequuntur inventore
             maxime ut modi asperiores qui labore aspernatur laborum sunt eligendi suscipit debitis vitae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, est cupiditate beatae sapiente architecto, doloremque consequuntur inventore
             maxime ut modi asperiores qui labore aspernatur laborum sunt eligendi suscipit debitis vitae?</p>
    </section>
    
</body>
</html>