
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #fff;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: #12171e;
    padding: .4rem .8rem;
    transition: all 0.5s ease;
}

.menu.active ~ .main-content {
    left: 250px;
    width: calc(100% - 250px);
}

.menu.active {
    width: 250px;
}

.menu #btn{
    position: absolute;
    color: #fff;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.menu.active #btn {
    left: 90%; 
}

.menu .top .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.menu.active .top .logo {
    opacity: 1;
}

.img-menu{
    width: 50px;
    border-radius: 100%;
}

.top .logo i {
    font-size: 2rem;
    margin-right: 5px;
}

.menu ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    font-size: 16px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.menu ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.menu ul li a:hover{
    background-color: #fff;
    color: #12171e;
}

.menu ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.menu .nav-item {
    opacity: 0;
}

.menu.active .nav-item {
    opacity: 1;
}


.main-content{
    position: relative;
    background-color: #eee;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}

.menu ul li a .sair{
    position: absolute;
    bottom: -230px; /* Ajuste o padding inferior conforme necessário */
   
}










.selecionar-botao{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #008791;
    box-shadow: 0 5px 10px rgb(126, 141, 141);
}

.selecionar-botao .texto{
    font-size: 17px;
    font-weight: 400;
    color: #fff;
}

.selecionar-botao .down-arrow{
    display: flex;
    height: 21px;
    width: 21px;
    border-radius: 50%;
    color: #008791;
    font-size: 14px;
    background: #fff;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.selecionar-botao.open .down-arrow{
    transform: rotate(-180deg);
}

.lista-consulta{
    position: relative;
    margin-top: 15px;
    border-radius: 8px;
    padding: 9px;
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgb(27, 97, 97);
    display: none;
    

}


.selecionar-botao.open ~ .lista-consulta{
    display: block;

}


.lista-consulta .lista{
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}

.lista-consulta .lista:hover{
    background-color: #e7edfe;

}

.lista .primeiro-lista{
    position: absolute;
    font-size: 16px;
    left: 52px;
    font-weight: 400px;
    color: #002033;
}

.lista .img{
    position: absolute;
    left: 10px;
}

.lista .checked{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 285px;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}

.lista.checked .checked{
    background-color: #008791;
    border-color: #ffffff;
} 

.checked .check-icon{
    color: #e7edfe;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
}

.lista.checked .check-icon{
    transform: scale(1);
}


.button{
    
    width: 100%;
    margin-top: 0.1rem;
    border: none;
    background-color: #008791;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
    background-color: #00747c;
}

.button{
    text-decoration: none;
    font-size: 1.0rem;
    font-weight: 500;
    color: #fff;
}



.Selecionar{
    position: absolute;
    max-width: 320px;
    width: 100%;
    border-radius: 8px;
    top: 615px;   
    left: 310px;
    
 
}

.selecionar-botao{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #008791;
    box-shadow: 0 5px 10px rgb(126, 141, 141);
}

.selecionar-botao .texto{
    font-size: 17px;
    font-weight: 400;
    color: #fff;
}

.selecionar-botao .down-arrow{
    display: flex;
    height: 21px;
    width: 21px;
    border-radius: 50%;
    color: #008791;
    font-size: 14px;
    background: #fff;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.selecionar-botao.open .down-arrow{
    transform: rotate(-180deg);
}

.lista-consulta{
    position: relative;
    margin-top: 15px;
    border-radius: 8px;
    padding: 9px;
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgb(27, 97, 97);
    display: none;
    

}


.selecionar-botao.open ~ .lista-consulta{
    display: block;

}


.lista-consulta .lista{
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}

.lista-consulta .lista:hover{
    background-color: #e7edfe;

}

.lista .primeiro-lista{
    position: absolute;
    font-size: 16px;
    left: 52px;
    font-weight: 400px;
    color: #002033;
}

.lista .img{
    position: absolute;
    left: 10px;
}

.lista .checked{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 285px;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}

.lista.checked .checked{
    background-color: #008791;
    border-color: #ffffff;
} 

.checked .check-icon{
    color: #e7edfe;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
}

.lista.checked .check-icon{
    transform: scale(1);
}


.button{
    
    width: 100%;
    margin-top: 0.1rem;
    border: none;
    background-color: #008791;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
    background-color: #00747c;
}

.button{
    text-decoration: none;
    font-size: 1.0rem;
    font-weight: 500;
    color: #fff;
}


