

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.panelContainer{
    background-image: url(img/qq.jpg);
    background-repeat: no-repeat; 
    background-size: 100%;
    background-attachment: scroll;
    
}


.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: #005f6b;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
    z-index: 100;
}

.sidebar.active ~ .main-content{
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active{
    width: 250px;
}

.sidebar #btn {
    position: absolute;
    color: #ffffff;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn{
    left: 90%;
}

.sidebar .top .logo{
    color: #ffffff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo{
    opacity: 1;
}

.top .logo i{
    font-size: 2rem;
    margin-right: 5px;
}

.sidebar ul li {
    position: relative;
    top: 20px;
    list-style: none;
    height: 50px;
    margin: 0.8rem auto;
    line-height: 55px;
}

.sidebar ul li a{
    color: #ffffff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li a:hover {
    background-color: #00a3b8;
    color: #ffffff;
}

.sidebar ul li a i{
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 125px;
    top: 50%;
    color: #002c3d;
    transform: translate(-50%, -50%);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
}

.sidebar ul li:hover .tooltip{
    opacity: 1;
}

.sidebar.active ul li .tooltip{
    display: none   ;
}

.sidebar ul li .sair{
    position: relative;
    bottom: -235px;
}

.main-content{
    position: absolute;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
    
    
}










.name{
    position: absolute;
    font-size: 40px;
    display: flex;
    top: 201px;
    left: 60px;
    color: #fff;
}

h2{
    font-family: "Doppio One", sans-serif;
}

.Conteudo{
   
    position: absolute;
    display: flex;
    top: 336px;
    left: 61px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    
}

h3{
    font-family: "Jura", sans-serif;
}







.bem-vindo{
    position: absolute;
    left: 30px;
    top: 14px;
    color: #007585;
    font-size: 22px;
}

h1 {
    font-family: "Jura", sans-serif;
    font-weight: 700;
 
  }

.boas-vindas{
    position: fixed;
    font-size: 19px;
    margin-top: 10px;
    top: 20px;
    left: 1090px;
    border: 2px solid  rgb(255, 255, 255);
    color: #fff;
    border-radius: 10px;
    width: 280px;
    height: 60px;
    background-color: #15b300;

}

.texto-bem-vindo{
    position: absolute;
    left: 50px;
    top: 7px;
    font-size: 18px;
}

.nome-usuario{
    position: absolute;
    top: 7px;
    left: 160px;
    font-size: 18px;
}

.sucesso{
    position: absolute;
    top: 5px;
    margin-left: 50px;
}

.icone {
    position: absolute;
    top: 8px;
    left: 15px;
}




.Selecionar{
    position: relative;
    max-width: 320px;
    width: 100%;
    border-radius: 8px;
    top: 615px;   
    left: 250px;
    z-index: 100;
}

.selecionar-botao{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #008791;
    box-shadow: 0 5px 10px rgb(126, 141, 141);
}

.selecionar-botao .texto{
    font-size: 17px;
    font-weight: 400;
    color: #fff;
}

.selecionar-botao .down-arrow{
    display: flex;
    height: 21px;
    width: 21px;
    border-radius: 50%;
    color: #008791;
    font-size: 14px;
    background: #fff;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.selecionar-botao.open .down-arrow{
    transform: rotate(-180deg);
}

.lista-consulta{
    position: relative;
    margin-top: 15px;
    border-radius: 8px;
    padding: 9px;
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgb(27, 97, 97);
    display: none;
    

}


.selecionar-botao.open ~ .lista-consulta{
    display: block;

}


.lista-consulta .lista{
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}

.lista-consulta .lista:hover{
    background-color: #e7edfe;

}

.lista .primeiro-lista{
    position: absolute;
    font-size: 16px;
    left: 52px;
    font-weight: 400px;
    color: #002033;
}

.lista .img{
    position: absolute;
    left: 10px;
}

.lista .checked{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 285px;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}

.lista.checked .checked{
    background-color: #008791;
    border-color: #ffffff;
} 

.checked .check-icon{
    color: #e7edfe;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
}

.lista.checked .check-icon{
    transform: scale(1);
}


.button{
    
    width: 100%;
    margin-top: 0.1rem;
    border: none;
    background-color: #008791;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
    background-color: #00747c;
}

.button{
    text-decoration: none;
    font-size: 1.0rem;
    font-weight: 500;
    color: #fff;
}









.Selecionar2{
    position: relative;
    max-width: 320px;
    width: 100%;
    border-radius: 8px;
    top: 565px;   
    left: 620px;
    z-index: 100;
}

.selecionar-botao2{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #008791;
    box-shadow: 0 5px 10px rgb(126, 141, 141);
}

.selecionar-botao2 .texto2{
    font-size: 17px;
    font-weight: 400;
    color: #fff;
}

.selecionar-botao2 .down-arrow2{
    display: flex;
    height: 21px;
    width: 21px;
    border-radius: 50%;
    color: #008791;
    font-size: 14px;
    background: #fff;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.selecionar-botao2.open2 .down-arrow2{
    transform: rotate(-180deg);
}

.lista-consulta2{
    position: relative;
    margin-top: 15px;
    border-radius: 8px;
    padding: 9px;
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgb(27, 97, 97);
    display: none;
    

}


.selecionar-botao2.open2 ~ .lista-consulta2{
    display: block;

}


.lista-consulta2 .lista2{
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}

.lista-consulta2 .lista2:hover{
    background-color: #e7edfe;

}

.lista2 .primeiro-lista2{
    position: absolute;
    font-size: 16px;
    left: 52px;
    font-weight: 400px;
    color: #002033;
}

.lista2 .img{
    position: absolute;
    left: 10px;
}

.lista2 .checked{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 285px;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}

.lista2.checked .checked{
    background-color: #008791;
    border-color: #ffffff;
} 

.checked .check-icon{
    color: #e7edfe;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
}

.lista2.checked .check-icon{
    transform: scale(1);
}


.button2{
    
    width: 100%;
    margin-top: 0.1rem;
    border: none;
    background-color: #008791;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.button2:hover{
    background-color: #00747c;
}

.button2{
    text-decoration: none;
    font-size: 1.0rem;
    font-weight: 500;
    color: #fff;
}



.contudo-abaixo{
    position: relative;
    top: 610px;
    left: -25px;
}


.Hosp{
    font-family: "Doppio One", sans-serif;
    position: absolute;
    font-size: 25px;
    top: 80px;
    left: 350px;
    display: flex;
    color:#ffffff;
}


.Infor{
    font-family: "Quattrocento", serif;
    position: absolute;
    font-size: 20px;
    left: 740px;
    top: 45px;
    color: #fff;
}

.Sobre{
    font-family: "Glegoo", serif;
    position: absolute;
    font-size: 15px;
    left: 740px;
    top: 70px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.Contacto{
    font-family: "Glegoo", serif;
    position: absolute;
    font-size: 15px;
    left: 740px;
    top: 90px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.Termos{
    font-family: "Glegoo", serif;
    position: absolute;
    font-size: 15px;
    left: 740px;
    top: 110px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}


.Politica{
    font-family: "Glegoo", serif;
    position: absolute;
    font-size: 15px;
    left: 740px;
    top: 130px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

